.App {
  text-align: center;

}
body,html{
  margin: 0;
  height: 100%;
  /*background-image: linear-gradient(to top right, #b3ecec,#43e8d8,	#3bd6c6,#54b2a9	);*/
  background-image: linear-gradient(to top right, #18419d,#04f5ff,	#f9a4e5	);
  
}